@{
    ViewBag.Title = "AccessDenied";
}

<h2>Accesso Denegado</h2>

<p>@Html.DisplayText("Para poder accesar estas opciones debe iniciar una sesión como administrador.")</p>
<p>
    @Html.ActionLink("Iniciar sesión.", "Login", "administrators")
    @Html.ActionLink("Volver a página principal.", "EndoriskQuestions", "EndoriskCalculator")
</p>



