@{
    ViewBag.Title = "AccessDenied";
}

<h2>Accesso Denegado</h2>

<p>@Html.DisplayText("Para poder accesar estas opciones debe iniciar una sesión como administrador.")</p>
<p>
    @Html.ActionLink("Volver página de inicio.", "Index", "Home")
</p>



