@model EndoRiskWeb.Models.administrator

@{
    ViewBag.Title = "EmailConfirmation";
}

<h2 class="center">Confirmación</h2><br/>  
       
            <div class="detailWrap">
            <span>El usuario registrado recibirá un correo notificándole los credenciales para utilizar su cuenta.</span><br/><br/>    
            @Html.ActionLink("Volver a menú de administradores", "Index")
            </div>
        
     



