
@{
    ViewBag.Title = "PasswordChangeSuccesful";
}

<h2 class="center">Cambio de contraseña exitoso!</h2><br />
<div class="detailWrap">
    <span class="center">Su contraseña ha sido cambiada exitosamente. Por favor inicie su sesión nuevamente.</span>
    <br /><br />
    <div class="center">
        @Html.ActionLink("Iniciar sesión", "Login", "administrators")
    </div>
</div>

