@{
    ViewBag.Title = "¿Qué es Endorisk?";
}

<section class="center">

    <h2>@ViewBag.Title</h2>
    <br />
</section>

<article class="endoWrap">
    <p>
        Endorisk surge a base de un estudio llevado a cabo por:
        la Escuela de Medicina en Ponce y la Universidad de Puerto Rico Recinto de Mayaguez.

    </p>

    <p>
        Endorisk se basa en...
    </p>

    <p>
        Los modelos...
    </p>
</article>

