@{
    ViewBag.Title = "Endometriosis"; 
}

<section class="center">
        <h2>@ViewBag.Title</h2>
        <br />
</section>
<div class="endoWrap">
    <section class="contact">
        <p>
            <span class="label">Datos sobre la Endometriosis:</span><br />
            <br />
            <span>Endrometriosis es una enfermedad que afecta el sistema reproductivo femenino en donde tejido que normalmente crece dentro del útero, comienza a crecer fuera de este.  Puede tardar entre 7 y 12 años desde la edad que comenzaron los síntomas hasta el diagnóstico, y este diagnóstico solamente se consigue a través de cirugía invasiva.  Puede causar infertilidad y en muchas ocasiones puede limitar las actividades diarias de la mujer a causa del dolor.  Esta enfermedad afecta entre el 5-10% de las mujeres en edad reproductiva, y aproximadamente 176 millones de mujeres alrededor del mundo.  En Estados Unidos solamente, el costo anual gastos relacionados a endometriosis es aproximadamente 22 billones de dólares.</span>
        </p>
    </section>
</div>

