@{
    ViewBag.Title = "Endometriosis"; 
}

<section class="center">
        <h2>@ViewBag.Title</h2>
        <br />
</section>
<div class="endoWrap">
    <section class="contact">
        <p>
            <span class="label">Definicion:</span>
            <span>Es una enfermedad que afecta el sistema reproducto femenino, donde tejido que normalmente crece en el útero, crece en otros organos del cuerpo.</span>
        </p>

        <p>
            <span class="label">Causas:</span>
            <span>No se sabe la causa de esta enfermedad...</span>
        </p>
    </section>
</div>
<!--<section class="center"> Prueba de Centro</section> -->
