

@{
    ViewBag.Title = "Result Page";
}

        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <ol class="round">
                <li class="one">
                    <h2>
                       SAM
                    </h2>
                </li>

               
            </ol>
        </div>
}

<div>
    @Html.ActionLink("Return Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}