
@{
    ViewBag.Title = "Terminos y Condiciones";
}

<section class="center">

    <h2>@ViewBag.Title</h2>
    <br />
</section>

<article class="questionWrap">
    <ul class="list-group">
        <li>
            Los datos serán utilizados con propósito investigativo en el área de la salud,
            específicamente relacionados a la enfermedad de endometriosis.
        </li>
        <li>
            Las preguntas básicas tomarán aproximadamente un máximo de cinco (5) a diez (10) minutos en contestar.
        </li>
        <li>
            De haber tenido síntomas relacionados a enfermedades gastrointestinales al responder las
            preguntas básicas, se le proveerá la opción de responder una serie de preguntas
            nuevas de manera opcional las cuales pueden tomar entre quince (15) a veinte (20) minutos como máximo.
        </li>
        <li>
            Ambos conjuntos de preguntas están relacionados únicamente a síntomas o
            situaciones que pueden ser clave para el diagnóstico de endometriosis.
        </li>
        <li>
            Informamos que el uso de la herramienta en línea puede ocasionar un riesgo emocional mínimo
            en cuanto a la predicción del riesgo que puede tener la participante de sufrir de endometriosis.

            <strong>
                Por consiguiente, la predicción del riesgo de padecer de endometriosis
                solo sirve como diagnostico preliminar basado en data previamente recopilada y no puede ser
                certificado como un diagnóstico completamente definitivo.
            </strong>
        </li>
        <li>
            Se debe visitar o consultar un especialista o doctor para obtener un diagnóstico real y preciso.
        </li>
        <li>
            Informamos que la participación en el uso de la herramienta en línea para usos
            investigativos es <strong>totalmente voluntaria</strong> y que no habrá penalidad alguna por retirarme de la
            investigación o no querer participar en la misma en cualquier momento que lo desee.
        </li>
        <li>
            Informada que la participación es totalmente confidencial y no se recopilará data personal que pueda ayudar a
            identificar su persona en publicaciones relacionadas a los estudios llevados a cabo.
        </li>
    </ul>
</article>
    <!--
        PROPÓSITO

        El estudio a llevarse a cabo tiene como propósito utilizar una aplicación en línea como

        herramienta de investigación y recopilación de datos. Los datos serán utilizados con propósito

        investigativo en el área de la salud, específicamente relacionados a la enfermedad de

        endometriosis. La herramienta a utilizarse en este estudio, utiliza data recopilada previamente

        para ayudar a mujeres en Puerto Rico obtener una predicción de diagnóstico preliminar de su

        riesgo de padecer de endometriosis. Se ha planteado una necesidad de tener una herramienta

        en línea dispuesta a ayudar a los investigadores obtener un mejor entendimiento del

        comportamiento de esta enfermedad mientras se ayuda de igual manera a la mujer de Puerto

        Rico utilizando predicciones obtenidas de investigaciones previas relacionadas a la enfermedad.

        PROCEDIMIENTO

        El procedimiento para llevar a cabo el uso de la aplicación como herramienta para el

        estudio y la investigación conlleva que el sujeto participante responda una serie de preguntas

        con ayuda de los investigadores. La participación se llevará a cabo dentro del Recinto

        Universitario de Mayagüez en las computadoras y sistemas de los investigadores. Las preguntas

        básicas tomarán aproximadamente un máximo de cinco (5) a diez (10) minutos en contestar. De

        haber tenido síntomas relacionados a enfermedades gastrointestinales al responder las

        preguntas básicas, se le proveerá al participante la opción de responder una serie de preguntas

        nuevas de manera opcional las cuales pueden tomar entre quince (15) a veinte (20) minutos

        como máximo. Ambos conjuntos de preguntas están relacionados únicamente a síntomas o

        situaciones que pueden ser clave para el diagnóstico de endometriosis. Algunos ejemplos de los

        temas a presentarse a las participantes en las preguntas se incluyen los siguientes: abortos,

        problemas de fertilidad, partos, diagnósticos previos, tratamientos previos, diferentes problemas

        gastrointestinales, entre otros, que son clave para detectar diagnósticos preliminares

        relacionados a la enfermedad de endometriosis. Las respuestas a las preguntas procederán a ser

        guardadas en una base de datos para uso de los administradores y uso investigativo.

        RIESGOS

        Se me ha informado que el uso de la herramienta en línea para usos investigativos no

        representa ningún tipo de riesgo ni daño físico hacia las participantes. A su vez, se me ha

        informado que el uso de la herramienta en línea puede ocasionar un riesgo emocional mínimo

        en cuanto a la predicción del riesgo que puede tener la participante de sufrir de endometriosis.

        Por consiguiente, he sido informada que la predicción del riesgo de padecer de endometriosis

        solo sirve como diagnostico preliminar basado en data previamente recopilada y no puede ser

        certificado como un diagnóstico completamente definitivo. Se debe visitar o consultar un

        especialista o doctor para obtener un diagnóstico real y preciso.

        BENEFICIOS

        He sido informada que la participación en el uso de la herramienta en línea sirve de

        beneficio directo para el participante. Como beneficio directo se incluye que la participante

        recibirá a través de predicciones, un diagnostico preliminar del riesgo de sufrir de endometriosis

        a lo largo de su vida. El uso de la herramienta en línea conlleva a su vez un beneficio importante

        para ayudar a la sociedad y los investigadores médicos a entender mejor el comportamiento de

        las mujeres con alto riesgo de endometriosis para poder predecir y estudiar características de la

        enfermedad.

        PATICIPACIÓN

        He sido informada que la participación en el uso de la herramienta en línea para usos

        investigativos es totalmente voluntaria y que no habrá penalidad alguna por retirarme de la

        investigación o no querer participar en la misma en cualquier momento que lo desee.

        CONFIDENCIALIDAD

        He sido informada que la participación en el uso de la herramienta en línea para usos

        investigativos es totalmente confidencial y no se recopilará data personal que pueda ayudar a

        identificarme en publicaciones relacionadas a los estudios llevados a cabo.

        GASTOS Y COMPENSACIÓN

        He sido informada que la participación en el uso de la herramienta en línea no conlleva

        ningún tipo de gasto ni compensación monetaria.

        ENCARGADOS

        En caso de necesitar información adicional con relación al estudio a ser realizado o de la

        participación en la investigación puede contactar a los estudiantes sub-graduados y encargados:

        Eddie Pérez Martell al (939) 267-5872, Samuel Feliciano al (787) 424-5985 o Luz M. González al

        (939) 243-8052. Adicionalmente, puede comunicarse con el Comité para la Protección de Seres

        Humanos en la Investigación (CPSHI) del Recinto Universitario de Mayagüez a través de su correo

        electrónico cpshirum@uprm.edu o por teléfono llamando al (787) 832-4040 ext. 6277 ó 6347.

        También puede visitar sus oficinas en el edificio Celis (C-108) del Recinto Universitario de

        Mayagüez o visitar su portal electrónico: http://uprm.edu/cpshi/ para más información del

        comité. -->
    


