@model IEnumerable<EndoRiskWeb.Models.romediagnosi>
@{
    ViewBag.Title = "Resultados Cuestionarios ROME";
}

<h2>De acuerdo a sus síntomas, contestaciones y al criterio 'Rome' para enfermedades gastrointestinales,</h2>

<h3>@ViewBag.Message</h3>

@foreach (var item in Model)
{
    <p>@item.diagnosis</p>
}
<p>@ViewBag.NoSymp</p>

<h3>*Recuerde que esto es solamente una guía, y no pretende sustituir el diagnóstico de un médico*</h3>
<h3>Le recomendamos visitar a un gastroenterólogo para un diagnóstico certero.</h3>