@{
    ViewBag.Title = "PasswordSent";
    var x = ViewData["email"];
}

<h2 class="center">Contraseña enviada!</h2><br />

<div class="detailWrap">
    <span class="center">Su contraseña fue enviada a su correo electrónico. Una vez recuperada, por favor inicie su sesión nuevamente.</span>
    <br /><br />
    <div class="center">
        @x
        @ViewData["email"]
        @Html.ActionLink("Reiniciar contraseña", "ResetPassword", "administrators", new { email = ViewData["email"] }, null)     
    </div>
</div>



