@model EndoRiskWeb.Models.administrator

@{
    ViewBag.Title = "RecoverPassword";
    ViewBag.Error = "";
}

<h2 class="center">Recuperar Contraseña</h2><br />
<div class="detailWrap">

    @using (Html.BeginForm("RecoverPassword", "administrators", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Correo electrónico")
            <input name="recoverPassword" type="text" value="" required />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="center">
                    <input type="submit" value="Someter" />
                  </div>
            </div>
        </div>

        <br />

        <p class="center">@ViewBag.Error</p>
    }
</div>
